# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Xcode
xcuserdata/
*.xcodeproj/
*.xcworkspace/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Environment and Secrets
.env*
Jamie\ SWIFT\ App/App/Services/API/
**/Services/API/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary Files
.temp/
.tmp/
.cache/
temp/
combined_files.txt
**/segment_*.wav
**/segment_*.json
**/segment*.b64

# Logs
*.log

# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Configuration Files
*.xcconfig
!*.xcconfig.template

# Sensitive Data
*.env
*.key
*.pem
*.p12
*.cer
*.keychain
